<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-APTimeZones.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-GPUImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-JFOpenWeatherMapManager.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SBJson.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B8285650AF4FD1A5D5BA5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ED83811946C6F50046EFAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B50D3B4BB0240D2880098CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>630E70B8D1214D6C802FFFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC873293BE3B4C1887DD2FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC2152E70AF44564BF8919E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6E9F6E701384C3BB45260BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
